---
title: Capacity Sharing
---

<link rel="stylesheet" href="css/cover.css">
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><%= link_to 'The Project', '/project.html' %></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="inner cover">
        <%= image_tag "logo.png", alt: "logo", class: "cover-img" %>
        <h1 class="cover-heading">Capacity Sharing</h1>
        <p class="lead">Share your internet with confidence</p>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Capacity Sharing - Escola Politécnica da Universidade de São Paulo</p>
        </div>
      </div>
    </div>
  </div>
</div>
