---
title: The Project
---

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Capacity Sharing</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="#">The Project </a></li>
              <li><%= link_to 'The Solution', '/solution.html' %></li>
            </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron project-jumbotron">
  <div class="project-jumbotron-content">
    <h1 class="project-jumbotron-title">Capacity Sharing</h1>
    <h2 class="project-jumbotron-subtitle">The Project</h2>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 text-justify">
      <h2 class="text-left">Discrete authorization and efficient mutual authentication in capacity sharing-enabled networks</h2>
      <p>As computation becomes more and more pervasive in the society,
      networks grow to deal with the increasing number of users. In addition,
      connectivity is provided in multiple platforms, a trend that
      leads to the so-called Internet of Things. Thus, the question on how
      to maximize resources in a fair, efficient and demand-oriented way
      comes out. An approach to cope with this challenge is capacity sharing,
      where a user shares a quote of their primary connection. For
      instance, it is very common to share internet access from a GSM
      interface with other users through a Wi-Fi interface, e.g. via Wi-Fi
      Direct, which is native for Android.
      </p>
      <p>
      As of that Bob shares his connection with Alice, the Internet
      Service Provider (ISP) does not become aware of Alice and cannot
      assign any additional bandwidth nor apply any QoS rule, access
      restriction, or policy on Alice’s traffic without affecting Bob’s. Furthermore,
      any misconduct of Alice through this shared connection
      will be unfairly assigned to Bob, since he is the single owner of the
      connection.
      </p>
      <p>
      Capacity sharing solutions have been proposed in the context of
      computer networks endowed with Software-Defined Network architectures [1].
      To the best of our knowledge, no such a solution has
      been explored in mobile telecommunication networks, which suffer
      from the aforementioned problems.
      </p>
      <p>
      If a network operator was able to distinguish the traffic between
      Alice and Bob, it could serve each one individually through the same
      connection. This could allow the network operator to offer new different
      package services while reducing operational costs. From a user
      perspective, sharing their connection is worthwhile since the network
      operator could provide extra advantages, e.g. bandwidth increment.
      </p>
      Still, the network operator has to verify whether the supplicant of
      a shared connection is indeed allowed to join the network, which is
      addressed by means of multi-time digital signature schemes.
      </p>
      <h2 class="text-left">Our Contribution </h2>
      <p>
      The current graduation work describes a
      novel technique for the discrete management of the authorization
      process focused on this capacity sharing scenario. The access control
      is obtained using multi-time signatures to achieve discrete authorization
      by construction and not simply by system control which
      is susceptible to corruption of internal employees while easing system
      management complexity. These signature schemes strictly enable a
      limited number of signatures, therefore it can grant only a limited
      number of access tokens.</p>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

  <hr>

  <footer>
    <p>Capacity Sharing - Escola Politécnica da Universidade de São Paulo</p>
  </footer>
</div> <!-- /container -->
